version: '3.8'

services:
  db:
    image: postgres:15
    restart: always
    environment:
      - POSTGRES_USER=myuser
      - POSTGRES_PASSWORD=mypassword
      - POSTGRES_DB=empleados_db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  api:
    build: .
    ports:
      - "8080:8000"
    environment:
      - DATABASE_URL=postgresql://myuser:mypassword@db:5432/empleados_db
      - DEBUG=True
    depends_on:
      - db

volumes:
  postgres_data: